{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    <!-- Preloader
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div> -->
    
    {% include 'partials/busca.html' %}

    {% include 'partials/navbar.html' %}

    <!-- <div class="contact-area section-padding-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3 class="nome_usuario">Olá {{ user.username|title }}</h3>
                    </div>
                </div>
            </div>
        </div>
     </div>
     -->
        

    
    <!-- ##### Best Receipe Area End ##### -->
        
       <!--Cards-->
       <section class="container-fluid" id="receitas">
        {% include 'partials/alerts.html' %}
        <div class="row justify-content-center">
            {% if receitas %}
                {% for receita in receitas %}
                    <article class="card border-0 card-largura p-0 m-4 col-12 col-md-4">

                        {% if receita.foto.thumb == null %}
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                        {% else %}
                            <img src="{{ receita.foto.thumb.url }}" class="card-img-top card-posicao-imagem" alt="...">
                        {% endif %}
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ receita.nome }}</h5>
                            <p class="card-text">{{ receita.descricao }}</p>
                            <a href="{{ receita.get_receita }}" class="btn botao-cor-especial">Veja a receita</a>
                        </div>

                        <div class="card-footer rounded-0 d-flex justify-content-between">
                            <a href="{{ receita.get_editar }}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'publicar' receita.id %}" class="btn btn-secondary">Publicar</a>
                            <a href="{{ receita.get_deletar }}" class="btn btn-danger deletar">Deletar</a>
                        </div>

                    </article>
                {% endfor %}

            {% else %}
                <p>Não existe nenhuma receita.</p>
            {% endif %}

      </section>

    {% include 'partials/footer.html' %}

{% endblock %}

    

   

    

