{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    <!-- Preloader
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div> -->

    {% include 'partials/busca.html' %}

    {% include 'partials/navbar.html' %}


       <!--Cards-->
       <section class="container-fluid" id="receitas">
        
        <div class="row justify-content-center">
            {% if receitas %}
        
                {% for receita in receitas %}
                    <article class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4">

                        {% if receita.foto.thumb == null %}
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                        {% else %}
                            <img src="{{ receita.foto.thumb.url }}" class="card-img-top card-posicao-imagem" alt="...">
                        {% endif %}
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ receita.nome }}</h5>
                            <p class="card-text">{{ receita.descricao }}</p>
                            <a href="{% url 'receita' receita.id %}" class="btn botao-cor-especial">Veja a receita</a>
                            </a>
                        </div>

                    </article>
                {% endfor %}

            {% else %}
                <p>Não existe nenhuma receita com o nome {{ search }}</p>
            {% endif %}

      </section>

    {% include 'partials/footer.html' %}

{% endblock %}

    

   

    

