{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    <!-- Preloader
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/hamburger.png' %}" alt="">
    </div> -->

    {% include 'partials/busca.html' %}

    {% include 'partials/navbar.html' %}

        <!-- Receipe Post Search -->
        <!-- <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <select name="select1" id="select1">
                                <option value="1">Comida típica brasileira</option>
                                <option value="1">Massas</option>
                                <option value="1">Veganas</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-2 text-right">
                            <button type="submit" class="btn delicious-btn">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->


        {% if receita.foto.thumb == null %}
            <img src="{% static 'img/bg-img/tomate_banner.jpg' %}" class="d-block col-7 m-auto">
        {% else %}
            <img src="{{ receita.foto.thumb.url }}" class="d-block col-7 m-auto"  alt="...">
                    
        {% endif %}
    


        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span class="receita_data">{{ receita.data_receita }}</span>
                            <h2 class="receita_nome">{{ receita.nome }}</h2>
                            <div class="receipe-duration">
                                <h6 class="receita_preparo">Preparo: {{ receita.tempo_preparo }} minutos</h6>
                                <h6 class="receita_rendimento">Rendimento: {{ receita.rendimento }}</h6>
                                <h6 class="receita_categoria">Categoria: {{ receita.categoria }}</h6>
                                <h6 class="receita_pessoa">Por: {{ receita.pessoa|title }}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Ingredientes -->
                        <div class="col-12">
                            <div class="ingredients">
                                <h4>Modo de preparo</h4>
                                <div class="ingredients">
                                    <p>{{ receita.preparo }}</p>
                                </div>
                            </div>
                        </div>
                    </div>



                <div class="row">
                    <!-- Ingredientes -->
                    <div class="col-12">
                        <div class="ingredients">
                            <h4>Ingredientes</h4>
                            <div class="ingredients">
                                <p>{{ receita.ingredientes }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ingredientes -->

    {% include 'partials/footer.html' %}

{% endblock %}